<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">



</head>

<script>
    function submit() {
        var form = new FormData(document.getElementById("submit_a"));

        $.ajax({
            url:"{pageContext.request.contextPath}/Login",
            type:"post",
            data:form,
            processData:false,
            contentType:false,
            success:function(data) {
                window.clearInterval(timer);
                console.log("over..");
            }
            }
        )
    }
</script>

<body>

<div class="container">

    <form class="form-signin" action="Login" method="post" id="submit_a">
        <h2 class="form-signin-heading">请您登录</h2>
        <label for="user-name-label" class="sr-only">用户名</label>
        <input type="text" id="user-name-label" class="form-control" placeholder="用户名" name="userID" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" name="password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 记住我
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>

</div> <!-- /container -->


<!--&lt;!&ndash; IE10 viewport hack for Surface/desktop Windows 8 bug &ndash;&gt;-->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
</body>
</html>
